@tailwind base;
@tailwind components;
@tailwind utilities;

input:autofill {
  background: transparent !important;
  /* prevent placeholder to be invisible */
  color: inherit;
}

input:placeholder-shown {
  color: rgb(156 163 175) !important; /* Set the color you want for the placeholder text */
}




